#brand_story{display: none;}
.sub_menu_area{display: none;}
#icon_3{display: none;}
.header_in_r{display: none;}
.header_in_l_m li:nth-child(3){display: none;}
.main_img_in_r{display: none;}

#wrap{
    display: none;
    overflow: hidden;
}

.m_wrap{display: block;}


#main_img_m{
    width: 100%;
    height: 900px;
    background: url(../images/main-image.jpg)no-repeat 0 0;
    background-size: cover;
    background-position: center;
}

#header_m{
    width: 100%;
    height: 100px;
    background-color: #003351;
}

.header_in_m{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.logo_m img{
    object-fit: contain;
    width: 150px;
    height: 100px;
}

.m_menubar{
    position: absolute;
    right: 30px;
    top: 35px;
}

.m_menubar li{
    width: 20px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-top: 5px;
}

.main_img_in_l h1{
    font-size: 40px;
    color: #fff;
    margin-left: 25px;
}

.main_img_in_l h3{
    font-size: 20px;
    margin-left: 25px;
}

/* 콘텐츠 부분 */
#contents{
    width: 100%;
    height: 4500px;
    background-color: #060915;
    padding-top: 50px;
}


/* new 부분 */
.new_mobil_in{
    width:  400px;
    height: 700px;
    margin: 0 auto;
    padding: 50px 30px 0 30px;
    box-sizing: border-box;
    color: #fff;
    background-color: #34394b7e;
    border-radius: 10px;
}

.new_mobil_in ul h4{
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    width: 80px;
    height: 35px;
    background-color: #d9d9d9;
    color: #060915;
    line-height: 35px;
    border-radius: 10px;
}

.new_mobil_in ul li{
    font-size: 13px;
    margin-top: 15px;
}

.new_mobile_in_2{
    margin-top: 60px;
}

.new_mobile_in_3{
    margin-top: 60px;
    position: relative;
}

.new_mobile_in_3 h5{
    text-align: center;
    font-size: 35px;
}

.new_mobile_in_3 span{
    position: absolute;
    top: 60px;
    right: 50px;
}

.new_mobile_in_3 li{
    text-align: center;
}


/* weaving 부분 */
#weaving_mobile{
    width: 100%;
    height: 2300px;
}

.weaving_mobile_in{
    width: 400px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding-top: 100px;
    box-sizing: border-box;
}

.weaving_mobile_in > ul > li > a{
    font-size: 25px;
    color: #fff;

}

.weaving_mobile_in > ul > h4{
    font-size: 24px;
}

.weaving_mobile_img{
    width: 100%;
    height: 260px;
    background-color: aqua;
    margin-top: 100px;
    border-radius: 10px;
}

.mobile_img_1{
    background: url(../images/game.jpg)no-repeat 0 0;
    background-size: 100%;
}

.mobile_img_2{
    background: url(../images/payment.jpg)no-repeat 0 0;
    background-size: 100%;
}

.mobile_img_3{
    background: url(../images/Commerce.jpg)no-repeat 0 0;
    background-size: 100%;
}

.mobile_img_4{
    background: url(../images/Technology.jpg)no-repeat 0 0;
    background-size: 100%;
}

.mobile_img_5{
    background: url(../images/contents.jpg)no-repeat 0 0;
    background-size: 100%;
}


.weaving_mobile_text{
    font-size: 16px;
    line-height: 260px;
}

/* inside 부분 */
#inside_mobile{
    width: 100%;
    height: 1370px;
}

.inside_mobile_in{
    width: 400px;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    padding-top: 100px;
    box-sizing: border-box;
}

.inside_mobile_in li{
    width: 100%;
    height: 260px;
}

.inside_mobile_in > ul > h4{
    text-align: center;
}

.inside_mobile_in > ul > li > a{
    font-size: 25px;
    color: #fff;
}

.inside_mobile_in > ul > li > a > h4{
    color: red;
}

.inside_mobile_in > ul > li > a > h5{
    font-size: 16px;
}

.inside_mobile_in > ul > h4{
    font-size: 24px;
}

.inside_mobile_img{
    width: 100%;
    height: 260px;
    background-color: rgb(49, 58, 58);
    margin-top: 100px;
    border-radius: 10px;
}

.inside_m_img1{
    background: url(../images/people\(1\).jpg)no-repeat 0 0;
    background-size: 100%;
}

.inside_m_img2{
    background: url(../images/Tech.jpg)no-repeat 0 0;
    background-size: 100%;
}

.inside_m_img3{
    background: url(../images/movie.jpg)no-repeat 0 0;
    background-size: 100%;
}

.inside_mobile_text{
    font-size: 16px;
    line-height: 260px;
}

#footer_mobile{
    width: 100%;
    height: 55px;
    background-color: #060915;
    
}

#footer_mobile_logo{
   width: 100px;
   height: 25px;
   margin: 0 auto;
   position: relative;
}

#footer_mobile_logo img{
    object-fit: contain;
    width: 100px;
    height: 50px;
    position: absolute;
    top: -20px;
    left: 0;
}

#footer_mobile_text{
    width: 300px;
    height: 30px;
    margin: 0 auto;
    color: #fff;
}

#footer_mobile_text ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}